
head img{
  height:100px;
  width:100px;
}

table{
  border:10px dotted blueviolet;
  box-shadow:10px 10px 2px 2px blueviolet;
}

td{
  border:5px dashed blueviolet
}

tr{
  border:7px solid blueviolet
}
